---
import MainPage from '../layouts/MainPage.astro';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<MainPage>
  <h1 class="font-sans">Counter</h1>
</MainPage>
