---
import MainLayout from '../layouts/MainLayout.astro';
import Projects from '../components/Projects.astro';
---

<MainLayout>
  <div class='flex items-center justify-center font-display font-bold text-[5rem] h-96 text-primary'>Cody Adam</div>
  <div class='flex items-center justify-center font-display font-bold text-2xl h-44'>This site is Work in progress</div>
  <h1 class='font-display flex items-center justify-center p-5'>Projects</h1>
  <Projects/>
</MainLayout>
