---
import { Courses } from './Courses';
import Timeline from './Timeline.astro';

---

<div id='education' class='py-60 gap-44 flex flex-col items-center justify-center'>
  <Courses />
  <Timeline className='sm:w-[30rem] w-[20rem]' />
</div>
