<div class='mt-[20vw] overflow-hidden max-w-full min-h-[20vw] bg-primary'>
  <img src='/sep.png' class='absolute -translate-y-1/2 object-cover w-full rotate-180 select-none pointer-events-none' draggable="false"/>
  <div class=' text-base-100 pt-[10vw]' id="contact">
    <div class='flex flex-col items-center justify-center gap-10 py-16 px-4' >
      <a href="mailto:cody.ad4@gmail.com" class=" text-2xl font-light leading-none no-underline my-10">
        cody.ad4@gmail.com
      </a>
    </div>
  </div>
</div>
