<div class='mb-[20vw] overflow-hidden max-w-full'>
  <div class='bg-primary text-base-100 pb-[15vw]'>
    <div class='flex flex-col items-center justify-center gap-10 py-16 px-4'>
      <h1 class='font-display font-bold xl:text-[10rem] md:text-[6rem] text-[3rem] leading-none md:leading-normal'>
        Cody Adam
      </h1>
      <h2 class='font-display text-xl text-neutral-content'>full stack developper • graphic designer</h2>
      <div class='alert alert-info shadow-lg max-w-xs text-white'>
        <div class=''>
          <svg
            xmlns='http://www.w3.org/2000/svg'
            fill='none'
            viewBox='0 0 24 24'
            class='stroke-current flex-shrink-0 w-6 h-6'
            ><path
              stroke-linecap='round'
              stroke-linejoin='round'
              stroke-width='2'
              d='M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z'></path>
          </svg>
          <span>The site is currently work in progress.</span>
        </div>
      </div>
    </div>
  </div>
    <img src='/sep.png' class='absolute pointer-events-none -translate-y-1/2 object-cover w-full select-none' draggable="false"/>
</div>
