---
import { ScrollIndicator } from './ScrollIndicator';
---

<div class='mb-[20vw] overflow-hidden max-w-full'>
  <div class='bg-primary text-base-100 pb-[15vw]'>
    <div class='flex flex-col items-center justify-center gap-10 py-16 px-4'>
      <h1 class='font-display font-bold xl:text-[10rem] md:text-[6rem] text-[3rem] leading-none md:leading-normal'>
        Cody Adam
      </h1>
      <h2 class='font-display text-xl text-neutral-content'>
        full stack engineer • software engineer • graphic designer
      </h2>
    </div>
  </div>
  <img
    alt='seperator gradient'
    src={'/sepxx.webp'}
    width={1000}
    class='absolute pointer-events-none -translate-y-1/2 object-cover w-full select-none'
    draggable='false'
  />
  <ScrollIndicator client:idle />
</div>
