---
import ProjectCard, { Project } from './ProjectCard';
import ProjectFilter from './ProjectFilter';

let projects = await Astro.glob<Project>('../pages/projects/*.md');
projects = projects.filter((p) => !p.frontmatter.hide);
---

<div class='flex justify-center px-10 md:px-20 pt-10 md:pt-20' id='projects'>
  <div class='container flex flex-col justify-center items-center'>
    <ProjectFilter client:idle />
    <div class='flex container flex-col w-full gap-5 md:gap-10 items-start justify-between pl-44 border-l'>
      {
        projects.map((project, i) => {
          const imod = i % 4;
          let size: 'sm' | 'md' | 'lg' | 'xl' = 'sm';
          if (imod === 1) size = 'md';
          else if (imod === 2) size = 'lg';
          else if (imod === 3) size = 'xl';

          return <ProjectCard project={project} size={size} />;
        })
      }
    </div>
  </div>
</div>
