---
import EmojionePencil from './ico/EmojionePencil';
import ProjectCard, { Project, Size } from './ProjectCard.astro';
import ProjectFilter from './ProjectFilter';
import { Projects } from './Projects';

let projects = await Astro.glob<Project>('../pages/projects/*.md');
projects = projects.filter((p) => !p.frontmatter.hide);
---

<div id="projects">
  <Projects projects={projects} client:idle/>
</div>
