@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-Black.woff2') format('woff2');
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-Regular.woff2') format('woff2');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-Light.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-Thin.woff2') format('woff2');
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrainsMono';
  src: url('/fonts/JetBrainsMono-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: 'JetBrainsMono';
  src: url('/fonts/JetBrainsMono-Regular.woff2') format('woff2');
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: 'JetBrainsMono';
  src: url('/fonts/JetBrainsMono-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
}

.sticky_header {
  @apply font-black text-2xl sm:text-4xl text-primary;
}

.drawer.drawer-end > .drawer-toggle ~ .drawer-side > .drawer-overlay {
  pointer-events: none;
}

.drawer.drawer-end > .drawer-toggle:checked ~ .drawer-side > .drawer-overlay + *,
.drawer.drawer-end > .drawer-toggle:checked ~ .drawer-side > .drawer-overlay,
.drawer.drawer-end > .drawer-toggle:checked ~ .drawer-side {
  pointer-events: all;
}

.animate-drawing-rotation {
  transform-origin: bottom left;
  animation: drawing-rotation 5s ease-in-out forwards infinite;
}

@keyframes drawing-rotation {
  0% {
    transform: rotate(-20deg);
  }
  45%,
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  70%,
  80% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}

.late-appear {
  animation: late-appear 1s ease-in-out forwards;
  animation-delay: 2s;
  opacity: 0;
}

@keyframes late-appear {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.glow-shadow {
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.2), 0 0 10px 0 rgb(255, 255, 0,.2);
}