---
const { frontmatter } = Astro.props;
import '../global.css';
---

<html data-theme="custom">
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Cody Adam | {frontmatter.title}</title>
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
  </head>
  <body>
    <main class='bg-base-100 min-h-screen w-full p-10 flex items-center flex-col'>
      <div class='prose container'>
        <a href="/">Back</a>
        <h1>{frontmatter.title}</h1>
        <p class='border-b'>{frontmatter.description}</p>
        <slot />
      </div>
    </main>
  </body>
</html>
